<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Frist NodeJS Project | 404 Page Not Found</title>
</head>

<body>
    <h1>404 Page Not Found</h1>
    <p>Oops! It seems like you took a wrong turn somewhere.
    </p>
    <br>
    <p>You can trace back your steps and go back to the <a href="/">Homepage</a> to start over.</p>
</body>

</html>