<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Frist NodeJS Project | About</title>
</head>

<body>
    <h1>About Us</h1>
    <p>I am an astrophysicist who discover his true passion lies in programming, and more specifically in web
        developing.
        <br>
        After getting comfortable with the front-end, these are my first steps with the back-end.
        <br>
        Check out my <a href="https://github.com/ccardonaguillen/">Github Page</a> to see my progress so far.
    </p>
    <br>
    <p>Go back to the <a href="/">Homepage</a></p>
</body>

</html>