<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Frist NodeJS Project | Homepage</title>
</head>

<body>
    <h1> Welcome</h1>
    <p>This is the homepage</p>
    <ul>
        <li>You can find more information in our <a href="/about">About Us</a> page.</li>
        <li>If you want to send us a message, go to our <a href="/contact">Contact</a> page.</li>
    </ul>
</body>

</html>